/*
-----------------------------------------
	PAGE LAYOUT
-----------------------------------------
*/

body {
	background-color: var(--color-beluga-light);
	border-radius: 1rem;
	border: 10px solid var(--color-gray);
	margin: auto;
	max-width: 40rem;
	padding: 2rem 3rem;
}

img {
	max-width: 100%;
}

/*
-----------------------------------------
	COLORS
-----------------------------------------
*/

html {
	--color-beluga: #f3f6f0;
	--color-beluga-dark: #d1d1d1;
	--color-beluga-light: #fbfcfa;
	--color-black: #161212;
	--color-black-dark: #000000;
	--color-black-light: #3C3838;
	--color-blue: #237BA0;
	--color-blue-dark: #004F71;
	--color-blue-light: #5EAAD1;
	--color-gray: #757575;
	--color-gray-light: #D5D2D7;
	--color-green: #20BF55;
	--color-green-dark: #008D27;
	--color-green-light: #65F384;
	--color-orange: #ff9f1c;
	--color-orange-dark: #e8911a;
	--color-orange-light: #ffb045;
	--color-teal: #5fb49c;
	--color-teal-dark: #2c846e;
	--color-teal-light: #91e6cd;
	--color-text-disabled: #a19ca6;
	--color-text-primary: #49494b;
	--color-text-primary-light: #58595b;
	--color-purple: #AA63A9;
	--color-purple-dark: #601F5F;
	--color-purple-light: #CC84CA;
	--color-red: #F71735;
	--color-red-dark: #BB000E;
	--color-red-light: #FF5F5F;
}


/*
-----------------------------------------
	TYPOGRAPHY
-----------------------------------------
*/
html {
	--font-bold: myriad-pro-semiextended, sans-serif;
	--font-bold-weight: 700;
	--font-primary: myriad-pro, Helvetica, Arial, sans-serif;
	--font-heading: myriad-pro-semiextended, Helvetica, Arial, sans-serif;
	--font-heading-weight: 600;
	--font-logo: feltro-texture-1, sans-serif;
	--font-logo-weight: 400;
	--line-height-squish: .8;
	--line-height-squish-less:.9;
	--margin-top-heading: 2em;
	--ratio: 1.2;
	--size-one: calc( 2.488em * var(--ratio));
	--size-two: calc( 2.074em * var(--ratio));
	--size-three: calc( 1.72em * var(--ratio));
	--size-four: calc( 1.44em * var(--ratio));
	--size-five: calc( 1.2em * var(--ratio));
	--size-six: calc( 1rem * var(--ratio));
	--size-seven: 1em;
	--size-tertiary: calc( .75rem * var(--ratio));
}

html {
	background-color: var(--color-black-light);
	color: var(--color-text-primary);
	font-family: var(--font-primary);
	line-height: 1.7;
	margin: 3rem;
}

a {
	color: var(--color-red-light);
	display: inline-block;
	font-family: var(--font-bold);
	font-weight: var(--font-bold-weight);
	text-decoration: none;
}

a:visited {
	color: var(--color-blue)
}

a:hover {
	color: var(--color-red);
}

a:focus {
	color: var(--color-teal-light);
	outline: none;
	text-decoration: none;
}

a:active {
	color: var(--color-beluga-light);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-text-primary);
	font-family: var(--font-heading);
	font-weight: var(--font-heading-weight);
	margin-top: var(--margin-top-heading);

}

h1, h2, h3 {
	line-height: var(--line-height-squish);
}

h4, h5, h6 {
	line-height: var(--line-height-squish-less)
}

h1 {
	font-size: var(--size-two);
}

h2 {
	font-size: var(--size-three);
}

h3 {
	font-size: var(--size-four);
}

h4 {
	font-size: var(--size-five);
}

h5 {
	font-size: var(--size-six);
}

h6 {
	font-size: var(--size-seven);
}


figcaption {
	font-size: var(--size-tertiary);
}

.featured-text {
	color: var(--color-text-primary);
	font-family: var(--font-primary);
	font-size: var(--size-one);
	line-height: var(--line-height-squish-less);
}

.tertiary-text {
	font-size: var(--size-tertiary)
}


/*
-----------------------------------------
	LIST STYLES
-----------------------------------------
*/

ul {
	list-style: square;
}

ul ul {
	list-style: circle;
}

ol {
	list-style: decimal-leading-zero;
}

ol ol {
	list-style: lower-roman;
}

/*
-----------------------------------------
	BLOCK QUOTE
-----------------------------------------
*/

blockquote {
	border-top: .3rem solid var(--color-teal-light);
	border-bottom: .3rem solid var(--color-teal-light);
	color: var(--color-black-light);
	font-size: var(--size-three);
	line-height: var(--line-height-squish);
	padding-top: 2rem;
	text-align: center;
}

cite {
	color: var(--color-text-primary-light);
	display: block;
	font-size: var(--size-six);
	margin-top: 1.5rem;
	padding-bottom: 2.5rem;
}


/*
-----------------------------------------
	EXAMPLES
-----------------------------------------
*/

.example-copy {
	font-family: var(--font-primary);
}

.example-heading {
	font-family: var(--font-heading);
	font-weight: var(--font-heading-weight);
}

.color-swatch {
	background-color: white;
	padding: .5rem;
}

.swatch {
	border: 3px solid #000;
	max-width: 100%;
}

/*
-----------------------------------------
	HEADER COMPONENT
-----------------------------------------
*/

header {
	border-bottom: 3px solid var(--color-beluga-dark);
	padding: 2rem;
	text-align: center;
}

header a {
	color: var(--color-blue);
}

.logo, .logo:visited, .logo:hover {
	color: var(--color-orange-light);
	font-family: var(--font-logo);
	font-size: var(--size-one);
	font-weight: var(--font-logo-weight);
}

.main-nav {
	text-align: center;
}

.main-nav ul {
	padding: 0;
	margin: auto;
}

.main-nav li {
	display: inline-block;
	margin: .5rem;
	list-style: none;
	padding: 0;
}


/*
-----------------------------------------
	FOOTER COMPONENT
-----------------------------------------
*/

footer {
	border-top: 3px solid var(--color-beluga-dark);
	padding: 2rem;
	margin-top: 10rem;
	text-align: center;
}

.profile-photo {
	border-radius: 100%;
}

.secondary-nav {
	text-align: center;
}

.secondary-nav ul {
	padding: 0;
}

.secondary-nav li {
	display: inline-block;
	margin: .5rem;
	list-style: none;
	padding: 0;
}


/*
-----------------------------------------
	BUTTON COMPONENTS
-----------------------------------------
*/

html {
	--button-radius: .4rem;
	--padding-button: .5rem 2rem;
}

.button {
	border: 3px solid var(--color-beluga-light);
	border-radius: var(--button-radius);
	font-family: var(--font-primary);
}

.button-hero, .button-hero:visited {
	background-color: var(--color-teal);
	color: var(--color-beluga-light);
	text-align: center;
	text-shadow:  0 0 .2rem var(--color-black-light);
	text-transform: uppercase;
	font-size: var(--size-four);
	padding: var(--padding-button);
	transition: background-color .3s ease-in-out;
}

.button-hero:hover, .button-hero:focus {
	background-color: var(--color-teal-dark);
	color: var(--color-beluga-light);
	text-shadow: 0 .5rem .5rem var(--color-black-dark);
	transition: all .3s ease-in-out;
}	

.button-hero:active {
	border: 3px solid var(--color-teal-light);
}

.button-normal, .button-normal:visited {
	background-color: var(--color-orange);
	border: 2px solid var(--color-beluga-light);
	color: var(--color-beluga-light);
	text-align: center; 
	text-shadow: 0 0 .3rem var(--color-black);
	font-size: var(--size-seven);
	padding: var(--padding-button);
}

.button-normal:hover, .button-normal:focus {
	background-color: var(--color-orange);
	border: 2px solid var(--color-orange-dark);
	color: var(--color-beluga-light);
	transition: all .3s ease-in-out;
}

.button-normal:active {
	border: 2px solid var(--color-orange-light);
}

.button-secondary, .button-secondary:visited {
	background-color: var(--color-gray-light);	
	border: 2px solid var(--color-beluga-light);
	color: var(--color-text-primary);
	padding: var(--padding-button);
}

.button-secondary:hover, .button-secondary:focus {
	border: 2px solid var(--color-black-light);
	transition: all .3s ease-in-out;
}

.button-secondary:active {
	border: 2px solid var(--color-teal);
}

/*
-----------------------------------------
	ACCORDIONS	
-----------------------------------------
*/

details {
	margin: 1.5rem .5rem;
	border-top: 2px solid var(--color-purple);
	padding-top: 2rem;
}

summary span {
	font-weight: var(--font-bold-weight);
	padding: .2rem;
}

summary:focus {
	color: var(--color-blue);
	outline: none;
}

details div {
	background-color: var(--color-beluga);
	box-shadow: .2rem .2rem .3rem var(--color-gray);
	font-family: var(--font-primary);
	padding: 1rem;
	margin-left: 1rem;
}

details ul,ol {
	padding: 0;
	margin-left: 1rem;
}
