
/*
-----------------------------------------
	PAGE LAYOUT
-----------------------------------------
*/

body {
	margin: 0;
}

main {
	background-color: var(--color-beluga);
	margin: auto;
	max-width: 40rem;
	padding: 1.5rem;
}

html {
	background-color: var(--color-beluga);
	color: var(--color-text-primary);
	font-family: var(--font-primary);
	line-height: 1.7;
}

img {
	max-width: 100%;
}

/*
-----------------------------------------
	COLORS
-----------------------------------------
*/

html {
	--color-beluga: #f3f6f0;
	--color-beluga-dark: #d1d1d1;
	--color-beluga-light: #fbfcfa;
	--color-black: #161212;
	--color-black-dark: #000000;
	--color-black-light: #3C3838;
	--color-blue: #237BA0;
	--color-blue-dark: #004F71;
	--color-blue-light: #5EAAD1;
	--color-gray: #757575;
	--color-gray-light: #D5D2D7;
	--color-green: #20BF55;
	--color-green-dark: #008D27;
	--color-green-light: #65F384;
	--color-orange: #ff9f1c;
	--color-orange-dark: #e8911a;
	--color-orange-light: #ffb045;
	--color-teal: #5fb49c;
	--color-teal-dark: #2c846e;
	--color-teal-light: #91e6cd;
	--color-text-disabled: #a19ca6;
	--color-text-primary: #49494b;
	--color-text-primary-light: #58595b;
	--color-purple: #AA63A9;
	--color-purple-dark: #601F5F;
	--color-purple-light: #CC84CA;
	--color-rgba-purple-light: rgba(204, 32, 202, .8);
	--color-red: #F71735;
	--color-red-dark: #BB000E;
	--color-red-light: #FF5F5F;
}


/*
-----------------------------------------
	TYPOGRAPHY
-----------------------------------------
*/
html {
	--font-bold: myriad-pro-semiextended, sans-serif;
	--font-bold-weight: 700;
	--font-primary: myriad-pro, Helvetica, Arial, sans-serif;
	--font-heading: myriad-pro-semiextended, Helvetica, Arial, sans-serif;
	--font-heading-weight: 600;
	--font-logo: feltro-texture-1, sans-serif;
	--font-logo-weight: 400;
	--line-height-squish: .8;
	--line-height-squish-less:.9;
	--margin-top-heading: 4em;
	--ratio: 1.2;
	--size-one: calc( 2.488em * var(--ratio));
	--size-two: calc( 2.074em * var(--ratio));
	--size-three: calc( 1.72em * var(--ratio));
	--size-four: calc( 1.44em * var(--ratio));
	--size-five: calc( 1.2em * var(--ratio));
	--size-six: calc( 1rem * var(--ratio));
	--size-seven: 1em;
	--size-tertiary: calc( .75rem * var(--ratio));
}

a {
	color: var(--color-red-light);
	display: inline-block;
	font-family: var(--font-bold);
	font-weight: var(--font-bold-weight);
	text-decoration: none;
}

a:visited {
	color: var(--color-blue)
}

a:hover {
	color: var(--color-teal);
}

a:focus {
	color: var(--color-teal-light);
	outline: none;
	text-decoration: none;
}

a:active {
	color: var(--color-beluga-light);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-text-primary);
	font-family: var(--font-heading);
	font-weight: var(--font-heading-weight);
}

h2, h3, h4, h5, h6 {
		margin-top: var(--margin-top-heading);
}

h1, h2, h3 {
	line-height: var(--line-height-squish);
}

h4, h5, h6 {
	line-height: var(--line-height-squish-less)
}

h1 {
	font-size: var(--size-two);
}

h2 {
	font-size: var(--size-three);
}

h3 {
	font-size: var(--size-four);
}

h4 {
	font-size: var(--size-five);
}

h5 {
	font-size: var(--size-six);
}

h6 {
	font-size: var(--size-seven);
}

figcaption {
	font-size: var(--size-tertiary)
}

.featured-text {
	color: var(--color-text-primary);
	font-family: var(--font-primary);
	font-size: var(--size-one);
	line-height: var(--line-height-squish-less);
}

.tertiary-text {
	font-size: var(--size-tertiary)
}




/*
-----------------------------------------
	LIST STYLES
-----------------------------------------
*/

ul {
	list-style: square;
}

ul ul {
	list-style: circle;
}

ol {
	list-style: decimal-leading-zero;
}

ol ol {
	list-style: lower-roman;
}

/*
-----------------------------------------
	BLOCK QUOTE
-----------------------------------------
*/

blockquote {
	border-top: .3rem solid var(--color-teal-light);
	border-bottom: .3rem solid var(--color-teal-light);
	color: var(--color-black-light);
	font-size: var(--size-three);
	line-height: var(--line-height-squish);
	padding-top: 2rem;
	text-align: center;
}

cite {
	color: var(--color-text-primary-light);
	display: block;
	font-size: var(--size-six);
	margin-top: 1.5rem;
	padding-bottom: 2.5rem;
}


/*
-----------------------------------------
	EXAMPLES
-----------------------------------------
*/

.example-copy {
	font-family: var(--font-primary);
}

.example-heading {
	font-family: var(--font-heading);
	font-weight: var(--font-heading-weight);
}

.color-swatch {
	background-color: white;
	padding: .5rem;
}

.swatch {
	border: 3px solid #000;
	max-width: 100%;
}

.example-nav {
	margin-bottom: 3rem;
}

.example-nav img {
	display: block;
}
/*
-----------------------------------------
	HEADER COMPONENT
-----------------------------------------
*/

.hero-banner {
	background-image: url(images/confetti-hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-shadow: 3px 5px 10px rgba(18, 16, 16, 0.3);
	display: block;
	margin: 0;
	text-align: center;
}

.logo, .logo-hero, .logo:visited, .logo:hover {
	color: var(--color-beluga-light);
	display: inline-block;
	font-family: var(--font-logo);
	font-size: var(--size-five);
	font-weight: var(--font-logo-weight);
}

.logo-hero, .logo-hero:visited, .logo-hero:hover  {
	animation: fadein 2s linear;
	color: var(--color-beluga-light);
	font-size: 7rem;
	text-shadow: 2px 12px 3px #000;

}

.nav-primary {
	align-items: center;
	box-shadow: 2px 8px 3px rgba(18, 16, 16, 0.3);
	padding: 1rem;
}

.nav-primary ul {
	padding: 0;
}

.nav-primary li {
	margin: 1rem;
	list-style: none;
	padding: 0;
}

.nav-primary a, .nav-primary a:visited {
	color: var(--color-beluga-light);
}

.nav-primary a:focus, .nav-primary a:hover {
	color: var(--color-teal-light);
}

.nav-primary {
	background: var(--color-black);
	color: var(--color-beluga-light);
	left: 0;
	margin: 0;
	right: 0;
	top: 0;
}

.current-page {
	border-bottom: 2px solid var(--color-rgba-purple-light);
}

@media ( min-width: 300px ) {
	.hero-banner {
		padding: 11rem 0;
	}

	.profile-photo {
		max-width: 25%
	}

	.bio {
		font-size: var(--size-tertiary);
	}

@media ( min-width: 550px ) {

	.hero-banner {
		margin-top: 108px;
	}

	.nav-primary {
		display: flex;
		justify-content: space-between;
		position: fixed;
	}
	.nav-primary li {
		display: inline-block;
	}
}
/*
-----------------------------------------
	FOOTER COMPONENT
-----------------------------------------
*/

footer {
	background-color: var(--color-teal-dark);
	border-top: 3px solid var(--color-black-light);
	margin-top: 3rem;
}

.bio {
	align-items: center;
	color: var(--color-beluga-light);
	display: flex;
	font-size: var(--size-seven);
	margin: auto;
	max-width: 500px;
	padding: 1rem;
	text-align: left;
}

.profile-photo {
	border-radius: 100%;
	display: inline-block;
	padding: 1rem;
}

.social-links {
	background-color: var(--color-beluga-dark);
	border-bottom: 2px solid var(--color-teal-dark);
	border-top: 2px solid var(--color-teal-dark);
	font-size: var(--size-tertiary);
	text-align: center;
}

.social-links ul {
	margin: 0;
	padding: 0;
}

.social-links li {
	display: inline-block;
	list-style: none;
	margin: 1.5rem;
	padding: 0;
}

.nav-secondary {
	background: var(--color-black);
	color: var(--color-beluga-light);
	font-size: var(--size-seven);
	padding: 3rem 1rem;
}

.nav-secondary div a, .nav-secondary div a:visited {
	color: var(--color-beluga-light);
	font-family: var(--font-primary);

}

.nav-secondary a:focus, .nav-secondary a:hover {
	color: var(--color-teal-light);
}

.nav-secondary ul {
	padding: 0;
}

.nav-secondary li {
	margin: 1rem;
	list-style: none;
	padding: 0;
}

.nav-secondary ul ul li:before {
	content: '─ ';
}

.nav-secondary li {
	margin: 1rem;
	padding: .5rem 0;
}

@media ( min-width: 588px ) {
	.nav-secondary {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: grid-start;
	}

	.nav-secondary-style {
		grid-column-start: 1;
		grid-row-start: 2;
	}

	.nav-secondary-components {
		grid-column-start: 2;
		grid-row-start: 2;
	}

	.nav-secondary-layout {
		grid-column-start: 3;
		grid-row-start: 2;
	}
}

/*
-----------------------------------------
	BUTTON COMPONENTS
-----------------------------------------
*/

html {
	--link-button-radius: .4rem;
	--link-button-padding: .5rem 2rem;
}

.link-button {
	border: 3px solid var(--color-beluga-light);
	border-radius: var(--link-button-radius);
	font-family: var(--font-primary);
}

.button-hero, .button-hero:visited {
	background-color: var(--color-teal);
	color: var(--color-beluga-light);
	text-align: center;
	text-shadow:  0 0 .2rem var(--color-black-light);
	text-transform: uppercase;
	font-size: var(--size-four);
	padding: var(--link-button-padding);
	transition: background-color .3s ease-in-out;
}

.button-hero:hover, .button-hero:focus {
	background-color: var(--color-teal-dark);
	color: var(--color-beluga-light);
	text-shadow: 0 .5rem .5rem var(--color-black-dark);
	transition: all .3s ease-in-out;
}

.button-hero:active {
	border: 3px solid var(--color-teal-light);
}

.button-normal, .button-normal:visited {
	background-color: var(--color-orange);
	border: 2px solid var(--color-beluga-light);
	color: var(--color-beluga-light);
	text-align: center;
	text-shadow: 0 0 .3rem var(--color-black);
	font-size: var(--size-seven);
	padding: var(--link-button-padding);
}

.button-normal:hover, .button-normal:focus {
	background-color: var(--color-orange);
	border: 2px solid var(--color-orange-dark);
	color: var(--color-beluga-light);
	transition: all .3s ease-in-out;
}

.button-normal:active {
	border: 2px solid var(--color-orange-light);
}

.button-secondary, .button-secondary:visited {
	background-color: var(--color-gray-light);
	border: 2px solid transparent;
	color: var(--color-text-primary);
	padding: var(--link-button-padding);
}

.button-secondary:hover, .button-secondary:focus {
	border: 2px solid var(--color-black-light);
	transition: all .3s ease-in-out;
}

.button-secondary:active {
	border: 2px solid var(--color-teal);
}

/*
-----------------------------------------
	ACCORDIONS
-----------------------------------------
*/

details {
	margin: 1rem .5rem;
	padding-top: 2rem;
}

summary  {
	font-weight: var(--font-bold-weight);
	padding: .2rem;
}

summary:after {
	content: ' ▼';
	margin-left: .5em;
}

summary::-webkit-details-marker {
	visibility: hidden;
}

summary:focus {
	color: var(--color-blue);
	outline: none;
}

details div {
	background-color: var(--color-beluga-light);
	box-shadow: .2rem .2rem .8rem var(--color-black);
	font-family: var(--font-primary);
	padding: 1rem;
	margin-left: 1rem;
}

details ul, details ol {
	padding: .5rem 1.5rem;
	margin-left: 1.5rem;
}


/*
-----------------------------------------
	ANIMATIONS
-----------------------------------------
*/


@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(.8);
	}

	10% {
		transform: scale(1.4);
	}

	20% {
		transform: scale(3);
	}

	30% {
		transform: scale(5.7);
	}

	70% {
		transform: scale(1.2);
	}

	80% {
		opacity: .3
	}

	90% {
		opacity: .7
	 }

	100% {
		opacity: 1;
		transform: scale(1);
	}

}

@keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*
-----------------------------------------
	DIALOG MODAL
-----------------------------------------
*/

dialog {
	max-width: 40rem;
	padding: 0;
}

dialog[open] {
	animation: fadein .5s ease;
	background-color: var(--color-beluga);
	box-shadow: 0 0 3rem rgba(54, 231, 231, 0.6);
}

dialog::backdrop {
	animation: fadein .5s ease-in-out;
	background-color: rgba(0,0,0,.5);
}

dialog p {
	padding: 1rem;
}

.heading-modal {
	margin-top: 0;
	background-color: var(--color-gray);
	color: var(--color-beluga-light);
	padding: .7rem;
}

/*
-----------------------------------------
		FORMS
-----------------------------------------
*/

form {
	background-color: var(--color-beluga-light);
	border: 2px solid rgba(0,0,0, .3);
	border-radius: 1rem;
	max-width: 500px;
	padding: 1rem;
}

label {
	display: block;
	margin: auto;
}

input, textarea {
	background-color: var(--color-beluga);
	border: solid 2px var(--color-beluga-dark);
	border-radius: 3px;
	display: block;
	max-width: 100%;
	padding: .3rem;
}

input:focus, textarea:focus, select:focus {
	background-color: var(--color-beluga);
	border: solid 3px var(--color-purple-light);
	outline: none;
}

textarea {
	margin: .5rem 0;
	min-height: 100px;
	min-width: calc(100% - 2rem);
}

.form-instruction-text {
	font-size: var(--size-tertiary);
	margin: .2rem;
	padding-left: .5rem;
}

input.form-error {
	border: 2px solid var(--color-red);
}

.form-error-instruction-text {
	color: var(--color-red);
}

/*
-----------------------------------------
		SUBMIT INPUT/BUTTON ELEMENT
-----------------------------------------
*/

.button-link-submit, [type="submit"] {
	background-color: var(--color-blue-light);
	border: 3px solid var(--color-blue-dark);
	border-radius: 4px;
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 1.25rem auto;
	padding: 1rem 2rem;
	transition: all .5s ease;
}

.button-link-submit, [type="submit"]:disabled {
	background-color: (var--color-gray-light);
}

.button-link-submit:error, [type="submit"]:error {
	border: 3px solid var(--color-red);
}

.button-link-submit:active, [type="submit"]:active {
	background-color: var(--color-purple);
}

.button-link-submit:hover, .button-link-submit:focus {
	background-color: var(--color-purple-light);
	border: 3px solid var(--color-purple-dark);
	transition: all .5s ease;
}






@media (min-width: 200px) {
	html {
		font-size: 14px;
	}
}

@media ( max-width: 550px ){
		.logo-hero, .logo-hero:visited, .logo-hero:hover {
			font-size: 5rem;
	}
}

@media (min-width: 550px) {
	html {
		font-size: 14px;
		--ratio: 1.3;
}

@media (min-width: 1000px) {
	html {
		font-size: 16px;
		--ratio: 1.5;
}
